@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Welcome, you have successfully accessed ktwebappdotnet.azurewebsites.net.</p>
</div>
